
body {
  background-color: rgb(224, 161, 76);
  margin-top: 0;
  margin-left: 0;
}

h1 {
  align-self: center;
  position: absolute;
  padding-top: 80px;
  padding-left: 37%;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: rgb(38, 38, 36);
  z-index: 1;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-style: italic;
  color: rgb(56, 57, 52);
  float: right;
  text-align: center;
  margin: 20px;
  width: 230px;
}

#salmonPic {
  padding-left: 23%;
  position: relative;
  margin: 0;
}

nav {
  margin: 0;
  border-radius: 0% 0% 12% 0%;
  padding: 0;
  position: absolute;
  font-family: Georgia;
  color: rgba(47, 50, 48, 0.97);
  background-color: rgba(208, 103, 18, 0.85);
}

.stores {
  font-family: Verdana;
}

#locationsAndStores {
  float: left;
  margin-left: 8px;
  text-align: center;
  font-family: Georgia;
  background-color: rgba(212, 232, 49, 0.85);
  padding: 5px;
  border-radius: 10%;
}

footer {
text-align: center;
font-family: Georgia;
color: rgb(61, 32, 179);
}

ul {
  list-style-type: none;
}

#about {
  align-items: center;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#patFam {
  float: left;
  padding-left: 15px;
}

#fishDrawings {
  border: 2px solid black;
  float: right;
  padding-right: : 5px;
}

#process {
  padding-top: 20px;
}

#sleepingSalmon {
  padding-top: 20px;
  float: left;
}
